.movieDetailsPage {

  justify-content: center;
  align-items: center;
}


.additionalInfo {
  text-align: start;
  align-items: start;
  justify-content: start;
  font-size: 32PX;

}

.movieDetails {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.link {
  margin-right: 20px;
  cursor: pointer;
}

.poster {
  margin: 40px;
}

ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
}

li {
  font-size: 24px;
  border: 1px solid black;
  padding: 15px;
}

.goBackButton {
  display: block;
  margin: 0 auto;
  width: auto;
  padding: 10px;
}

a {
  color: #015769;
}
a:hover {
  color: #0080ff;
}

.details {
  padding: 40px;
}