.movieDetailsPage {
  justify-content: center;
  align-items: center;
}


.additionalInfo {
  margin-top: 40px;
  font-size: larger;
  text-align: start;
  align-items: start;
  justify-content: start;
}

.movieDetails {
  padding: 80px 20px 0 0;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.poster {
  margin: 40px;
}

ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
}

li {
  font-size: large;
  border: 1px solid black;
  box-shadow: 0 1px 2px #d82f2f, 0 1px 2px rgba(0, 0, 0, 0.8);
  padding: 15px;
}

.goBackButton {
  display: block;
  margin: 0 auto;
  width: auto;
  padding: 10px;
  box-shadow: 0 1px 3px #d82f2f, 0 1px 3px rgba(0, 0, 0, 0.8);
}

.goBackButton:hover {
border-color: transparent;
}

a {
  margin-right: 80px;
  color: #d82f2f;
  font-size: larger;
  font-weight: bold ;
  text-decoration: underline black;
}
a:hover {
  color: #0080ff;
}

.details {
 
}