.navigation {
  position: fixed;
width: 100%;
  z-index: 10;

  background-color: #fff;
  padding: 10px;
  border-bottom: 2px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navLink {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navLink:hover {
  color: #007bff;
}