.movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  

}

.movieCard {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  flex: 1 1 250px;
}

.movieCard:hover {
  transform: scale(1.05);
  background-color: #f0fffe;
  box-shadow: 0 16px 16px #6a0003, 0 2px 4px rgba(0, 0, 0, 0.1);
}

.moviePoster {
  width: 100%;
  height: auto;
} 

.movieInfo {
  padding: 10px;
  color: #400009;
}

.movieTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.movieOverview {
  font-size: 1rem;
  color: #005959;
}

.movieList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 20px;
  padding: 15px;
}


